@import "./globals.css";

.nav-submenu::before {
  @apply block absolute h-full w-full box-border border border-primary/5  -m-2 rounded backdrop-blur-2xl;
  
  transition: all;
  z-index: -1;
  content: " ";
  background-image: radial-gradient(
    ellipse 24rem 12rem var(--bg-origin),
    #325EF601,
    transparent
  ),
  radial-gradient(
    ellipse 36rem 12rem var(--bg-origin),
    #33c1ff01,
    transparent
  ),
  radial-gradient(
    ellipse 100% 30% at 50% 100%,
    #325EF601,
    #325EF601,
    transparent
  ),
  radial-gradient(
    ellipse 100vw 12rem var(--bg-origin),
    #33c1ff03,
    #325EF602,
    transparent
  ),
  radial-gradient(
    ellipse 4rem 0.5rem var(--bg-origin),
    #33c1ff,
    transparent
  );
}

.nav-solutions {
  @apply grid w-full gap-2;
  
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 20px repeat(8, minmax(0, 1fr));
  align-items: end;
  
  @variant lg {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 20px repeat(4, minmax(0, 1fr));
  }
  
  grid-auto-flow: column;
}
