.embla {
  max-width: 100rem;
  min-height: 40rem;
  --slide-height: 19rem;
  --slide-spacing: 3rem;
  --slide-size: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.embla__viewport {
}

.embla__container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.embla__slide.is-snapped {
  transform: translateY(-60px) !important;
}

.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}

.embla__slide__img {
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  border-radius: 1.35rem;
  user-select: none;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(16px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-slide {
  animation: fadeSlide 300ms ease;
}
